# Bot de Reportes (BotDaily)
BOT_TOKEN=8922086171:AAGg5EGcsYlxVv_qkJsl9HJ6zVl58j4bN4o

# Grupo de Incidencias y Solicitudes
INCIDENCIAS_GROUP_ID=-5131136820

# Grupo de Dailies
DAILIES_GROUP_ID=-5200906042

# Bot de Administración
ADMIN_BOT_TOKEN=8255516207:AAFWv8VRjjFusCMEFXlslR4_03Cnwv7FlNg

# User IDs autorizados para el admin bot (separados por coma)
ADMIN_USER_IDS=1269236635,1133338012


# Proxy (necesario en PythonAnywhere plan gratuito y entornos similares)
# Pon USE_PROXY=true cuando corras en PythonAnywhere; false para desarrollo local
USE_PROXY=false
PROXY_URL=http://proxy.server:3128